

@media only screen and (max-width: 836px ) {
    .navbar {
        display: none;
        position: absolute;
        top: 2em;
        left: 0;
        right: 0;
        padding-left: 1em;
        background-color: white;
    }
    .navbar li {
        display: block;
        margin: 2em;
        font-size: 1.2em;
    }
    .logout_btn{
        display: none;
        position: relative;
        width: 100%;
        top: 25em;
        right: 0;
        left: 0;
        text-align: center;
      
    }
    .menu_icon {
        display: inline-block;
    }
 
}